html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E47D91;
}

.layout__main {
    min-width: 40rem;
    border: 2rem;
    background-color: white;
    box-shadow: 0px 0px 14px #EA5370;
    border-radius: 20px;
}

.main__user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EA5370;
    padding-bottom: 3rem;
    border-radius: 1rem 1rem 0 0;
}

.user__container-img {
    width: 15rem;
    height: 15rem;
    background-color: white;
    padding: 0.5rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
    border-radius: 130px;
    cursor: pointer;
}

.user__img {
    border-radius: 13rem;
    width: 100%;
    height: 100%;
}

.user__content {
    text-align: center;
    margin-bottom: 0.5rem;
}

.user__name {
    color: white;
    font-weight: 600;
    margin-right: 0.3rem;
    cursor: pointer;
}

.user__nick, .user__city{
    color: white;
    font-weight: 500;
    opacity: 0.8;
}

.main__follows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 3rem 4rem;
    text-align: center;
}

.follows__follow {
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 33.3%;
}

.follows__follow:hover {
    border: 2px solid #eae4e4;
}

.follow__number {
    color: #564948;
    font-weight: 700;
    font-size: 2rem;
}

.follow__subtitle {
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 0.5;
}
